IPHONEOS_DEPLOYMENT_TARGET = 11.0
SWIFT_VERSION = 5.0
ARCHS = $ARCHS_STANDARD_64_BIT
VALID_ARCHS = $ARCHS_STANDARD_64_BIT
PROVISIONING_PROFILE_SPECIFIER =
DEVELOPMENT_TEAM =
CODE_SIGN_IDENTITY =
CODE_SIGN_ENTITLEMENTS =
CODE_SIGN_STYLE = Manual
DEFINES_MODULE = NO
PRODUCT_BUNDLE_IDENTIFIER = com.kyoheiito.Plan.Example-iOS-Rx.$(TARGET_NAME)
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
