github "ReactiveX/RxSwift" == 5.1.1      # https://github.com/ReactiveX/RxSwift/releases

github "ra1028/Carbon" "fbe2c84c0e006051a8592624be6c32f87a10cd83"         # https://github.com/ra1028/Carbon/releases